openapi: 3.1.0

info:
  title: LTA DataMall API
  version: "3.0"
  description: OpenAPI schema for the generated lta-next client.

tags:
  - name: bus
    description: Bus related operations.

  - name: traffic
    description: Traffic related operations.

  - name: taxi
    description: Taxi related operations.

  - name: facility
    description: Facility related operations.

  - name: ev
    description: Electric Vehicle (EV) related operations.

  - name: train
    description: Train related operations.

servers:
  - url: https://datamall2.mytransport.sg/ltaodataservice

paths:
  /v3/BusArrival:
    get:
      operationId: getBusArrival
      tags: [bus]
      summary: Get bus arrival timings for a bus stop
      description: >
        Returns real-time Bus Arrival information of Bus Services at a queried Bus Stop,
        including

        - Estimated Arrival Time

        - Estimated Current Location

        - Estimated Current Load.


        **Update freq**: 20s
      security:
        - accountKeyAuth: []
      parameters:
        - name: BusStopCode
          in: query
          required: true
          description: Bus stop reference code.
          schema:
            $ref: "#/components/schemas/BusStopCode"
          example: "83139"

        - name: ServiceNo
          in: query
          required: false
          description: Optional bus service number filter.
          schema:
            $ref: "#/components/schemas/BusServiceNumber"
          example: "15"

      responses:
        "200":
          description: Successful Bus Arrival response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusArrivalResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/v3/BusArrival"
                BusStopCode: "83139"
                Services:
                  - ServiceNo: "15"
                    Operator: "GAS"
                    NextBus:
                      OriginCode: "77009"
                      DestinationCode: "77009"
                      EstimatedArrival: "2024-08-14T16:41:48+08:00"
                      Latitude: "1.3154918333333334"
                      Longitude: "103.9059125"
                      VisitNumber: "1"
                      Load: "SEA"
                      Feature: "WAB"
                      Type: "SD"
                      Monitored: "1"
                    NextBus2:
                      OriginCode: "77009"
                      DestinationCode: "77009"
                      EstimatedArrival: "2024-08-14T16:49:22+08:00"
                      Latitude: "1.3309621666666667"
                      Longitude: "103.9034135"
                      VisitNumber: "1"
                      Load: "SEA"
                      Feature: "WAB"
                      Type: "SD"
                      Monitored: "1"
                    NextBus3:
                      OriginCode: "77009"
                      DestinationCode: "77009"
                      EstimatedArrival: "2024-08-14T17:06:11+08:00"
                      Latitude: "1.344761"
                      Longitude: "103.94022316666667"
                      VisitNumber: "1"
                      Load: "SEA"
                      Feature: "WAB"
                      Type: "SD"
                      Monitored: "1"

  /TrafficIncidents:
    get:
      operationId: getTrafficIncidents
      tags: [traffic]
      summary: Get traffic incidents
      description: >
        Returns incidents currently happening on the roads, such as
        Accidents, Vehicle Breakdowns, Road Blocks, Traffic Diversions etc.

        **Update freq**: 2 min
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful Traffic Incidents response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrafficIncidentsResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/$metadata#IncidentSet"
                value:
                  - Type: "Roadwork"
                    Latitude: 1.3271784303381247
                    Longitude: 103.73571311990426
                    Message: "Roadworks on AYE (towards Tuas) after Penjuru Rd Exit. Avoid lane 3."

  /VMS:
    get:
      operationId: getVariableMessageSigns
      tags: [traffic]
      summary: Get variable message signs
      description: >
        Returns traffic advisories (via variable message services) concerning
        current traffic conditions that are displayed on EMAS signboards
        along expressways and arterial roads.


        **Update freq**: 2 minutes
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful Variable Message Signs response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VmsResponse"
              example:
                odata.metadata: "http://datamall2.mytransport.sg/ltaodataservice/$metadata#VMS"
                value:
                  - EquipmentID: "EVMS_RQ10"
                    Latitude: 1.324836348160294
                    Longitude: 103.87203388317738
                    Message: "PLS TURN ON,LOCAL RADIO,IN TUNNEL"

  /Traffic-Imagesv2:
    get:
      operationId: getTrafficImages
      tags: [traffic]
      summary: Get traffic camera images
      description: >
        Returns links to images from traffic cameras located around Singapore,
        together with each camera's location coordinates.

        **Update freq**: 20 sec
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful Traffic Images response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrafficImagesResponse"
              example:
                odata.metadata: "http://datamall2.mytransport.sg/ltaodataservice/$metadata#Traffic-Imagesv2"
                value:
                  - CameraID: "1001"
                    Latitude: 1.29531332
                    Longitude: 103.871146
                    ImageLink: "https://dm-traffic-camera-itsc.s3.ap-southeast-1.amazonaws.com/2023-04-05/23-05/1001_2303_20230405230505_485310.jpg"

  /v4/TrafficSpeedBands:
    get:
      operationId: getTrafficSpeedBands
      tags: [traffic]
      summary: Get traffic speed bands
      description: >
        Returns current traffic speeds on expressways and arterial roads,
        expressed in speed bands.


        **Update freq**: 5 min
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful Traffic Speed Bands response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrafficSpeedBandsResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/$metadata#TrafficSpeedBands"
                lastUpdatedTime: "2026-09-07 17:05:00"
                value:
                  - LinkID: "2"
                    RoadName: "NARAYANAN CHETTY ROAD"
                    RoadCategory: "5"
                    SpeedBand: 4
                    MinimumSpeed: "30"
                    MaximumSpeed: "39"
                    StartLon: "103.838305"
                    StartLat: "1.29206"
                    EndLon: "103.838331"
                    EndLat: "1.292044"

  /TrafficFlow:
    get:
      operationId: getTrafficFlow
      tags: [traffic]
      summary: Get traffic flow data link
      description: >
        Returns a link to a JSON file containing hourly average traffic flow,
        taken from a representative month of every quarter during 0700-0900 hours.

        **Update freq**: Quarterly
      x-satay:
        output:
          unwrap-field: value
          map-field: Link
      security:
        - accountKeyAuth: []
      responses:
        "200":
          description: Successful Traffic Flow response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrafficFlowResponse"
              example:
                odata.metadata: "http://datamall2.mytransport.sg/ltaodataservice/$metadata#TrafficFlow"
                value:
                  - Link: "https://dmprod-datasets.s3.ap-southeast-1.amazonaws.com/traffic-flow/data/trafficflow.json"

  /BicycleParkingv2:
    get:
      operationId: getBikeParking
      tags: [traffic]
      summary: Get bicycle parking locations
      description: >
        Returns bicycle parking locations within a radius of the queried
        coordinates.

        Dist is default to 0.5 even if you provide `None`.


        **Update freq**: Monthly
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: Lat
          in: query
          required: true
          description: Latitude of the queried location.
          schema:
            $ref: "#/components/schemas/Latitude"
          example: 1.3806436929483808

        - name: Long
          in: query
          required: true
          description: Longitude of the queried location.
          schema:
            $ref: "#/components/schemas/Longitude"
          example: 103.76771974367475

        - name: Dist
          in: query
          required: false
          description: Search radius in kilometers, defaulting to 0.5.
          schema:
            type: number
            format: double
            default: 0.5
          example: 0.5

      responses:
        "200":
          description: Successful Bicycle Parking response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BicycleParkingResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/$metadata#BicycleParkingv2"
                value:
                  - Description: "Bukit Panjang Road Block 403_YB"
                    Latitude: 1.3806436929483808
                    Longitude: 103.76771974367475
                    RackType: "Yellow Box"
                    RackCount: 16
                    ShelterIndicator: "Y"

  /RoadWorks:
    get:
      operationId: getRoadWorks
      tags: [traffic]
      summary: Get road works
      description: >
        Returns road works currently in progress or planned, together with
        event details and the responsible agency.


        **Update freq**: 24 hours – whenever there are updates
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful Road Works response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoadWorksResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/$metadata#RoadWorks"
                value:
                  - EventID: "RMAPP-202109-0626"
                    StartDate: "2021-09-21"
                    EndDate: "2026-11-30"
                    SvcDept: "PRIVATE"
                    RoadName: "ADMIRALTY LANE"
                    Other: "For details"

  /RoadOpenings:
    get:
      operationId: getRoadOpenings
      tags: [traffic]
      summary: Get road openings
      description: >
        Returns all planned road openings, including the new road name and
        the responsible agency.

        **Update freq**: 24 hours – whenever there are updates
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful Road Openings response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoadOpeningsResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/$metadata#RoadOpenings"
                value:
                  - EventID: "RMAPP-202405-0003"
                    StartDate: "2024-05-01"
                    EndDate: "2024-11-30"
                    SvcDept: "PRIVATE"
                    RoadName: "NEW UPPER CHANGI ROAD"
                    Other: "Road opening"

  /PubFloodAlerts:
    get:
      operationId: getFloodAlerts
      tags: [traffic]
      summary: Get flood alerts
      description: >
        Returns flood alert information across Singapore, provided by PUB.


        **Update freq**: 3 minutes
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      responses:
        "200":
          description: Successful Flood Alerts response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloodAlertsResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/$metadata#PubFloodAlerts"
                value:
                  - alertId: "2.49.0.0.702.2-BCM-17612003774680-PUBCON-DYOONG"
                    dateTime: "2025-05-22T09:55:00+08:00"
                    msgType: "Alert"
                    event: "Flood"
                    responseType: "Avoid"
                    urgency: "Immediate"
                    severity: "Minor"
                    expires: "2025-10-24T14:19:37+08:00"
                    senderName: "PUB"
                    headline: "Flash Flood Alert"
                    description: "Flash flood at Bt Timah Rd from Wilby Rd to Blackmore Dr. Please avoid the area. Issued 1705 hrs."
                    instruction: "Please avoid this area for the next one (1) hour."
                    areaDesc: "Jalan Mastuli, Singapore"
                    circle: "1.35479,103.88611 0.05"
                    status: "Actual"

  /EVCBatch:
    get:
      operationId: getEvChargingPointsBatch
      tags: [ev]
      summary: Get EV charging points batch data link
      description: >
        Returns a link to a JSON file containing all EV charging-point
        availability in one downloadable file.

        Each pre-signed link expires after 15 minutes.

        The API response is the link wrapper, not the downloaded JSON file,
        whose schema is undocumented and is not modeled here.


        **Update freq**: 5 minutes
      x-satay:
        output:
          unwrap-field: value
          map-field: Link
      security:
        - accountKeyAuth: []
      responses:
        "200":
          description: Successful EV Charging Points Batch response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvChargingPointsBatchResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/$metadata#evcBatch"
                value:
                  - Link: "https://dmprod-datasets.s3.ap-southeast-1.amazonaws.com/ev-batch/2026-09-07/EVBatch-20260907184507.json"

  /EVChargingPoints:
    get:
      operationId: getEvChargingPoints
      tags: [ev]
      summary: Get EV charging points
      description: >
        Returns electric vehicle charging points and their availabilities
        for a queried postal code.


        Unlike other DataMall endpoints, the live wire response omits
        `odata.metadata` and nests locations as
        `{"value": {"evLocationsData": [...]}}`. An unknown postal code
        returns `{"value": {"evLocationsData": []}}`.


        The DataMall guide documents the longitude field as `longtitude`;
        the live `/EVChargingPoints` wire uses the correct `longitude`
        spelling. The `/EVCBatch` downloadable file uses `longtitude`,
        `postalCode`, `current`/`powerRating(kW)` and omits `id` fields,
        while `/EVChargingPoints` uses `longitude`, `locationId`+`status`,
        `powerRating(AC/DC)`/`chargingSpeed(kW)` and includes `id` fields.


        **Update freq**: 5 minutes
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: PostalCode
          in: query
          required: true
          description: 6-digit Singapore postal code of the location.
          schema:
            $ref: "#/components/schemas/PostalCode"
          example: "650346"

        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination. Accepted by the API but has no effect for postal-code queries.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful EV Charging Points response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvChargingPointsResponse"
              example:
                value:
                  evLocationsData:
                    - address: "346 BUKIT BATOK STREET 34 SINGAPORE 650346"
                      name: "BLK 337-353/355-356 BUKIT BATOK STREET 34"
                      longitude: 103.75001
                      latitude: 1.363105
                      locationId: "750010650346"
                      status: ""
                      chargingPoints:
                        - status: "1"
                          operatingHours: ""
                          operator: "CHARGE+ PTE. LTD."
                          position: "L1 255 & 256"
                          name: "BLK 337-353/355-356 BUKIT BATOK STREET 34"
                          id: ""
                          plugTypes:
                            - plugType: "Type 2"
                              powerRating: "AC"
                              chargingSpeed: "7.4"
                              price: "0.6490"
                              priceType: "kWh"
                              evIds:
                                - id: ""
                                  evCpId: "R109701B-001"
                                  status: "0"
                                - id: ""
                                  evCpId: "R109701B-002"
                                  status: "1"
                        - status: "1"
                          operatingHours: ""
                          operator: "CHARGE+ PTE. LTD."
                          position: "L1 251 & 252"
                          name: "BLK 337-353/355-356 BUKIT BATOK STREET 34"
                          id: ""
                          plugTypes:
                            - plugType: "Combo 2"
                              powerRating: "DC"
                              chargingSpeed: "80"
                              price: "0.7520"
                              priceType: "kWh"
                              evIds:
                                - id: ""
                                  evCpId: "R128661D-001"
                                  status: "1"
                                - id: ""
                                  evCpId: "R128661D-002"
                                  status: "1"

  /BusStops:
    get:
      operationId: getBusStops
      tags: [bus]
      summary: Get bus stops
      description: >
        Returns detailed information for all bus stops currently being serviced by
        buses, including bus stop codes and location coordinates.


        **Update freq**: Ad-Hoc
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
        - name: BusStopCode
          in: query
          required: false
          description: >
            Fixed-width 5-digit bus stop reference code. Supplying it filters
            the response to the specified physical stop; omitting it returns
            all stops.
          schema:
            $ref: "#/components/schemas/BusStopCode"
          example: "01012"
      responses:
        "200":
          description: Successful Bus Stops response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusStopsResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/$metadata#BusStops"
                value:
                  - BusStopCode: "01012"
                    RoadName: "Victoria St"
                    Description: "Hotel Grand Pacific"
                    Latitude: 1.29684825487647
                    Longitude: 103.85253591654006

  /Taxi-Availability:
    get:
      operationId: getTaxiAvailability
      tags: [taxi]
      summary: Get taxi availability
      description: >
        Returns the coordinates of all taxis currently available for hire.


        **Update freq**: 1 min
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful Taxi Availability response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaxiAvailabilityResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/$metadata#TaxiAvailability"
                value:
                  - Longitude: 103.89071
                    Latitude: 1.39588
                  - Longitude: 103.94399
                    Latitude: 1.32122

  /TaxiStands:
    get:
      operationId: getTaxiStands
      tags: [taxi]
      summary: Get taxi stands
      description: >
        Returns detailed information of Taxi stands, such as location and
        whether it is barrier free.


        **Update freq**: Monthly
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful Taxi Stands response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaxiStandsResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/$metadata#TaxiStands"
                value:
                  - TaxiCode: "A01"
                    Latitude: 1.3038888888888889
                    Longitude: 103.83361111111111
                    Bfa: "Yes"
                    Ownership: "LTA"
                    Type: "Stand"
                    Name: "Orchard Rd along driveway of Lucky Plaza"

  /v2/FacilitiesMaintenance:
    get:
      operationId: getFacilitiesMaintenance
      tags: [facility]
      summary: Get facilities maintenance records
      description: >
        Returns ad hoc lift maintenance records for MRT stations.


        **Update freq**: Ad-Hoc
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful Facilities Maintenance v2 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacilitiesMaintenanceResponse"

  /GTFSScheduleTrain:
    get:
      operationId: getGtfsScheduleTrain
      tags: [train]
      summary: Get GTFS schedule train data link
      description: >
        Returns a link to a ZIP file containing the GTFS Schedule (Train)
        static feed: agency, routes, trips, stops, stop times, calendar and
        calendar dates text files in a single archive.

        The DataMall guide documents the field as `Link`; the live wire uses
        lowercase `link` with a `timestamp`.

        Each pre-signed link expires after 15 minutes.

        The API response is the link wrapper, not the downloaded ZIP file,
        whose parsing is outside this endpoint contract. See the General
        Transit Feed Specification documentation for the feed format.


        **Update freq**: Ad-Hoc
      x-satay:
        output:
          unwrap-field: value
          map-field: link
      security:
        - accountKeyAuth: []
      responses:
        "200":
          description: Successful GTFS Schedule Train response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GtfsScheduleTrainResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/GTFSScheduleTrain"
                value:
                  - timestamp: "2026-09-07T20:21:32+08:00"
                    link: "https://dmprod-datasets.s3.ap-southeast-1.amazonaws.com/train-gtfs-schedule/gtfs_schedule.zip"

  /GTFSRealTimeTrainServiceAlerts:
    get:
      operationId: getGtfsRealTimeTrainServiceAlerts
      tags: [train]
      summary: Get GTFS realtime train service alerts data link
      description: >
        Returns a link to a protobuf file containing GTFS Realtime (Train
        Service Alerts) service alerts: unforeseen events affecting a station,
        route or the entire network.

        This is distinct from the legacy JSON TrainServiceAlerts records.

        The DataMall guide documents the field as `Link`; the live wire uses
        lowercase `link` with a `timestamp`.

        Each pre-signed link expires after 15 minutes.

        The API response is the link wrapper, not the downloaded protobuf file,
        whose decoding is outside this endpoint contract. See the General
        Transit Feed Specification documentation for the feed format.


        **Update freq**: Ad-Hoc
      x-satay:
        output:
          unwrap-field: value
          map-field: link
      security:
        - accountKeyAuth: []
      responses:
        "200":
          description: Successful GTFS Realtime Train Service Alerts response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GtfsRealTimeTrainServiceAlertsResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/GTFSRealTimeTrainServiceAlerts"
                value:
                  - timestamp: "2026-09-07T20:21:32+08:00"
                    link: "https://dmprod-datasets.s3.ap-southeast-1.amazonaws.com/train-gtfs-real-time/gtfs_realtime.pb"

  /GTFSRealtimeTrainTripUpdates:
    get:
      operationId: getGtfsRealtimeTrainTripUpdates
      tags: [train]
      summary: Get GTFS realtime train trip updates data link
      description: >
        Returns a link to a protobuf file containing GTFS Realtime (Train Trip
        Updates - Disruption) predictions: real-time arrival and departure
        predictions, delays, cancellations and skipped stops during train
        service disruptions.

        The DataMall guide documents the field as `Link`; the live wire uses
        lowercase `link` with a `timestamp`.

        Each pre-signed link expires after 15 minutes.

        The API response is the link wrapper, not the downloaded protobuf file,
        whose decoding is outside this endpoint contract. See the General
        Transit Feed Specification documentation for the feed format.


        **Update freq**: Ad-Hoc
      x-satay:
        output:
          unwrap-field: value
          map-field: link
      security:
        - accountKeyAuth: []
      responses:
        "200":
          description: Successful GTFS Realtime Train Trip Updates response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GtfsRealtimeTrainTripUpdatesResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/GTFSRealtimeTrainTripUpdates"
                value:
                  - timestamp: "2026-09-07T20:22:08+08:00"
                    link: "https://dmprod-datasets.s3.ap-southeast-1.amazonaws.com/train-gtfs-trip-update/gtfs_trip_update.pb"

components:
  securitySchemes:
    accountKeyAuth:
      type: apiKey
      in: header
      name: AccountKey
      description: LTA DataMall API account key.

  schemas:
    BusArrivalResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - BusStopCode
        - Services
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        BusStopCode:
          $ref: "#/components/schemas/BusStopCode"

        Services:
          type: array
          description: Bus services serving the queried bus stop.
          items:
            $ref: "#/components/schemas/BusServiceArrival"

    BusServiceArrival:
      type: object
      additionalProperties: false
      required:
        - ServiceNo
        - Operator
        - NextBus
        - NextBus2
        - NextBus3
      properties:
        ServiceNo:
          $ref: "#/components/schemas/BusServiceNumber"

        Operator:
          $ref: "#/components/schemas/BusOperator"

        NextBus:
          $ref: "#/components/schemas/BusArrivalTiming"
          x-satay:
            treat-error-as-none: true

        NextBus2:
          $ref: "#/components/schemas/BusArrivalTiming"
          x-satay:
            treat-error-as-none: true

        NextBus3:
          $ref: "#/components/schemas/BusArrivalTiming"
          x-satay:
            treat-error-as-none: true

    BusOperator:
      type: string
      description: Public transport operator code.
      enum:
        - SBST
        - SMRT
        - TTS
        - GAS
      example: "SBST"

    BusServiceNumber:
      type: string
      description: Bus service number.
      maxLength: 5
      pattern: "^[a-zA-Z0-9]+$"
      example: "15"

    BusStopCode:
      type: string
      description: >
        Fixed-width 5-digit bus stop reference code. This remains a string so
        leading zeroes are preserved and the wire format is validated.
      pattern: "^[0-9]{5}$"
      example: "83139"

    CameraID:
      type: string
      description: >
        Fixed-width 4-digit traffic camera identifier. This remains a string so
        Satay validates and preserves the identifier's wire representation.
      pattern: "^[0-9]{4}$"
      example: "1001"

    EquipmentID:
      type: string
      description: >
        Variable message sign equipment identifier: a 3-4 letter sign-class
        prefix followed by an underscore and a 4-character alphanumeric
        sequence. This remains a string so Satay validates and preserves the
        identifier's wire representation.
      pattern: "^[A-Z]{3,4}_[A-Z0-9]{4}$"
      example: "EVMS_RQ10"

    LinkID:
      type: string
      description: >
        Variable-length numeric road link identifier in v4. This remains a
        string so Satay validates and preserves the identifier's wire
        representation.
      pattern: "^[0-9]+$"
      example: "2"

    TaxiCode:
      type: string
      description: >
        Fixed-width 3-character taxi stand reference code: a single zone letter
        followed by two digits. This remains a string so Satay validates and
        preserves the identifier's wire representation.
      pattern: "^[A-Z][0-9]{2}$"
      example: "A01"

    SpeedBand:
      type: integer
      description: >
        LTA traffic-speed classification from 1 through 8. Values outside these
        bounds are undefined and are rejected by the generated validation type.
      minimum: 1
      maximum: 8
      x-satay:
        integer-type: u8

    Latitude:
      type: number
      format: double
      description: >
        Geodetic latitude in decimal degrees. The -90 through 90 bounds are the
        valid latitude domain and reject impossible coordinates.
      minimum: -90
      maximum: 90

    Longitude:
      type: number
      format: double
      description: >
        Geodetic longitude in decimal degrees. The -180 through 180 bounds are
        the valid longitude domain and reject impossible coordinates.
      minimum: -180
      maximum: 180

    BusArrivalTiming:
      type: object
      additionalProperties: false
      required:
        - OriginCode
        - DestinationCode
        - EstimatedArrival
        - Latitude
        - Longitude
        - VisitNumber
        - Load
        - Feature
        - Type
        - Monitored
      properties:
        OriginCode:
          $ref: "#/components/schemas/BusStopCode"

        DestinationCode:
          $ref: "#/components/schemas/BusStopCode"

        EstimatedArrival:
          type: string
          description: Estimated arrival date-time in Singapore Standard Time.
          example: "2024-08-14T16:41:48+08:00"
          x-satay:
            parse-as: offset-datetime

        Latitude:
          type: string
          description: Current estimated latitude of the bus.
          example: "1.3154918333333334"
          x-satay:
            parse-as: f64

        Longitude:
          type: string
          description: Current estimated longitude of the bus.
          example: "103.9059125"
          x-satay:
            parse-as: f64

        VisitNumber:
          type: string
          description: Ordinal visit number of this vehicle at the bus stop.
          example: "1"
          x-satay:
            parse-as: u8

        Load:
          type: string
          description: Current occupancy level.
          enum:
            - SEA
            - SDA
            - LSD
            - ""
          x-satay:
            enum-variants:
              SEA: SeatsAvailable
              SDA: StandingAvailable
              LSD: LimitedStanding
              "": Unspecified

        Feature:
          type: string
          description: Wheelchair accessibility indicator.
          enum:
            - WAB
            - ""
          x-satay:
            enum-variants:
              WAB: WheelchairAccessible
              "": Unspecified

        Type:
          type: string
          description: Vehicle type of the bus.
          enum:
            - SD
            - DD
            - BD
            - ""
          x-satay:
            enum-variants:
              SD: SingleDecker
              DD: DoubleDecker
              BD: Bendy
              "": Unspecified

        Monitored:
          type: integer
          description: Whether the bus is currently monitored by the system.
          x-satay:
            parse-as: bool

    BusStopsResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Bus stops in this response page.
          items:
            $ref: "#/components/schemas/BusStop"

    BusStop:
      type: object
      additionalProperties: false
      required:
        - BusStopCode
        - RoadName
        - Description
        - Latitude
        - Longitude
      properties:
        BusStopCode:
          $ref: "#/components/schemas/BusStopCode"

        RoadName:
          type: string
          description: Road on which the bus stop is located.

        Description:
          type: string
          description: Bus stop landmark or location description.
          x-satay:
            identifier: desc

        Latitude:
          $ref: "#/components/schemas/Latitude"
          x-satay:
            identifier: lat

        Longitude:
          $ref: "#/components/schemas/Longitude"
          x-satay:
            identifier: long

    TrafficImagesResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Traffic camera images in this response page.
          items:
            $ref: "#/components/schemas/TrafficImage"

    TrafficImage:
      type: object
      additionalProperties: false
      required:
        - CameraID
        - Latitude
        - Longitude
        - ImageLink
      properties:
        CameraID:
          $ref: "#/components/schemas/CameraID"

        Latitude:
          $ref: "#/components/schemas/Latitude"
          x-satay:
            identifier: lat

        Longitude:
          $ref: "#/components/schemas/Longitude"
          x-satay:
            identifier: long

        ImageLink:
          type: string
          format: uri
          description: URL of the latest image from the traffic camera.
          x-satay:
            identifier: image-link

    TrafficSpeedBandsResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - lastUpdatedTime
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        lastUpdatedTime:
          type: string
          description: Time at which the speed-band data was last updated.
          x-satay:
            ignore: true

        value:
          type: array
          description: Traffic speed bands in this response page.
          items:
            $ref: "#/components/schemas/TrafficSpeedBand"

    TrafficSpeedBand:
      type: object
      additionalProperties: false
      required:
        - LinkID
        - RoadName
        - RoadCategory
        - SpeedBand
        - MinimumSpeed
        - MaximumSpeed
        - StartLon
        - StartLat
        - EndLon
        - EndLat
      properties:
        LinkID:
          $ref: "#/components/schemas/LinkID"

        RoadName:
          type: string
          description: Name of the road.

        RoadCategory:
          $ref: "#/components/schemas/RoadCategory"

        SpeedBand:
          $ref: "#/components/schemas/SpeedBand"

        MinimumSpeed:
          type: string
          description: >
            Lower speed bound in kilometres per hour. Non-sentinel values fit
            in an unsigned 8-bit integer.
          x-satay:
            identifier: min-speed
            parse-as: u8

        MaximumSpeed:
          type: string
          description: >
            Upper speed bound in kilometres per hour. DataMall uses 999 for the
            open-ended 70 km/h-and-above band, which decodes as None.
          x-satay:
            identifier: max-speed
            parse-as: u8
            none-if: ["999"]

        StartLon:
          type: string
          description: Longitude of the road link's start point.
          x-satay:
            parse-as: f64

        StartLat:
          type: string
          description: Latitude of the road link's start point.
          x-satay:
            parse-as: f64

        EndLon:
          type: string
          description: Longitude of the road link's end point.
          x-satay:
            parse-as: f64

        EndLat:
          type: string
          description: Latitude of the road link's end point.
          x-satay:
            parse-as: f64

    RoadCategory:
      description: >
        Numeric classification of the road carrying the traffic-speed reading
        in v4: 1 Expressways, 2 Major Arterial Roads, 3 Arterial Roads,
        4 Minor Arterial Roads, 5 Small Roads, 6 Slip Roads, and 8 Short
        Tunnels. Value 7 is not used.
      type: string
      enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
        - "8"
      x-satay:
        enum-variants:
          "1": Expressway
          "2": MajorArterialRoads
          "3": ArterialRoads
          "4": MinorArterialRoads
          "5": SmallRoads
          "6": SlipRoads
          "8": ShortTunnels

    TrafficFlowResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Traffic flow data files in this response.
          items:
            $ref: "#/components/schemas/TrafficFlowLink"

    TrafficFlowLink:
      type: object
      additionalProperties: false
      required:
        - Link
      properties:
        Link:
          type: string
          format: uri
          description: URL of the traffic flow data file.

    TrafficIncidentsResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Traffic incidents in this response page.
          items:
            $ref: "#/components/schemas/TrafficIncident"

    TrafficIncident:
      type: object
      additionalProperties: false
      required:
        - Type
        - Latitude
        - Longitude
        - Message
      properties:
        Type:
          $ref: "#/components/schemas/IncidentType"
          x-satay:
            identifier: incident-type

        Latitude:
          $ref: "#/components/schemas/Latitude"
          x-satay:
            identifier: lat

        Longitude:
          $ref: "#/components/schemas/Longitude"
          x-satay:
            identifier: long

        Message:
          type: string
          description: Human-readable description of the traffic incident.
          x-satay:
            identifier: msg

    IncidentType:
      description: Type of traffic incident.
      anyOf:
        - type: string
        - type: string
          description: Known incident type spellings.
          enum:
            - Accident
            - Road Works
            - Vehicle breakdown
            - Weather
            - Obstacle
            - Road Block
            - Heavy Traffic
            - Misc.
            - Diversion
            - Unattended Vehicle
            - Roadwork
          x-satay:
            enum-variants:
              "Road Works": RoadWorks
              "Vehicle breakdown": VehicleBreakdown
              "Road Block": RoadBlock
              "Heavy Traffic": HeavyTraffic
              "Misc.": Misc
              "Unattended Vehicle": UnattendedVehicle

    VmsResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Variable message signs in this response page.
          items:
            $ref: "#/components/schemas/Vms"

    Vms:
      type: object
      additionalProperties: false
      required:
        - EquipmentID
        - Latitude
        - Longitude
        - Message
      properties:
        EquipmentID:
          $ref: "#/components/schemas/EquipmentID"

        Latitude:
          $ref: "#/components/schemas/Latitude"
          x-satay:
            identifier: lat

        Longitude:
          $ref: "#/components/schemas/Longitude"
          x-satay:
            identifier: long

        Message:
          type: string
          description: Traffic advisory message displayed on the sign.
          x-satay:
            identifier: msg

    EventID:
      type: string
      description: >
        Unique identifier of a road work or road opening event. Its numeric
        groups use ASCII digits so the generated validator matches the wire ID.
      pattern: "^[A-Z]+-[0-9]{6}-[0-9]{4}$"
      example: "RMAPP-202109-0626"

    RoadWorksResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Road works in this response page.
          items:
            $ref: "#/components/schemas/RoadDetails"

    RoadDetails:
      type: object
      additionalProperties: false
      required:
        - EventID
        - StartDate
        - EndDate
        - SvcDept
        - RoadName
        - Other
      properties:
        EventID:
          $ref: "#/components/schemas/EventID"
          x-satay:
            identifier: event-id

        StartDate:
          type: string
          format: date
          description: Date on which the road work starts.
          x-satay:
            parse-as: date

        EndDate:
          type: string
          format: date
          description: Date on which the road work ends.
          x-satay:
            parse-as: date

        SvcDept:
          type: string
          description: Agency responsible for the road work.
          x-satay:
            identifier: service-dept

        RoadName:
          type: string
          description: Name of the road affected by the road work.
          x-satay:
            identifier: road-name

        Other:
          type: string
          description: Additional information about the road work.

    RoadOpeningsResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Road openings in this response page.
          items:
            $ref: "#/components/schemas/RoadDetails"

    TaxiAvailabilityResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Coordinates of available taxis in this response page.
          items:
            $ref: "#/components/schemas/Coordinates"

    Coordinates:
      type: object
      additionalProperties: false
      required:
        - Latitude
        - Longitude
      properties:
        Latitude:
          $ref: "#/components/schemas/Latitude"
          x-satay:
            identifier: lat

        Longitude:
          $ref: "#/components/schemas/Longitude"
          x-satay:
            identifier: long

    TaxiStandsResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Taxi stands in this response page.
          items:
            $ref: "#/components/schemas/TaxiStand"

    TaxiStand:
      type: object
      additionalProperties: false
      required:
        - TaxiCode
        - Latitude
        - Longitude
        - Bfa
        - Ownership
        - Type
        - Name
      properties:
        TaxiCode:
          $ref: "#/components/schemas/TaxiCode"

        Latitude:
          $ref: "#/components/schemas/Latitude"
          x-satay:
            identifier: lat

        Longitude:
          $ref: "#/components/schemas/Longitude"
          x-satay:
            identifier: long

        Bfa:
          type: string
          description: Barrier-free accessibility indicator.
          x-satay:
            identifier: is-barrier-free
            parse-as: bool
            true-values: ["Yes"]
            false-values: ["No"]
            unknown-as: false

        Ownership:
          $ref: "#/components/schemas/TaxiStandOwner"
          x-satay:
            identifier: owner

        Type:
          $ref: "#/components/schemas/TaxiStandType"
          x-satay:
            identifier: stand-type

        Name:
          type: string
          description: Name or location description of the taxi stand.

    TaxiStandOwner:
      description: Owner of the taxi stand.
      anyOf:
        - type: string
        - type: string
          enum:
            - LTA
            - CCS
            - Private
          x-satay:
            enum-variants:
              LTA: Lta
              CCS: Ccs
              Private: Private

    TaxiStandType:
      description: Classification of the taxi stand.
      anyOf:
        - type: string
        - type: string
          enum:
            - Stand
            - Stop
          x-satay:
            enum-variants:
              Stand: Stand
              Stop: Stop

    FacilitiesMaintenanceResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Lift maintenance records in this response page.
          items:
            $ref: "#/components/schemas/FacilityMaintenance"

    FacilityMaintenance:
      type: object
      additionalProperties: false
      required:
        - Line
        - StationCode
        - StationName
        - LiftDesc
      properties:
        Line:
          type: string
          description: Code of the train network line.

        StationCode:
          $ref: "#/components/schemas/StationCode"

        StationName:
          type: string
          description: Name of the train station.

        LiftID:
          type: string
          description: Optional identifier of the lift currently under maintenance.

        LiftDesc:
          type: string
          description: Detailed description of the lift currently under maintenance.

    StationCode:
      description: MRT/LRT station code.
      type: string
      enum:
        - NS1
        - NS2
        - NS3
        - NS3A
        - NS4
        - NS5
        - NS6
        - NS7
        - NS8
        - NS9
        - NS10
        - NS11
        - NS12
        - NS13
        - NS14
        - NS15
        - NS16
        - NS17
        - NS18
        - NS19
        - NS20
        - NS21
        - NS22
        - NS23
        - NS24
        - NS25
        - NS26
        - NS27
        - NS28
        - EW1
        - EW2
        - EW3
        - EW4
        - EW5
        - EW6
        - EW7
        - EW8
        - EW9
        - EW10
        - EW11
        - EW12
        - EW13
        - EW14
        - EW15
        - EW16
        - EW17
        - EW18
        - EW19
        - EW20
        - EW21
        - EW22
        - EW23
        - EW24
        - EW25
        - EW26
        - EW27
        - EW28
        - EW29
        - EW30
        - EW31
        - EW32
        - EW33
        - CG
        - CG1
        - CG2
        - NE1
        - NE2
        - NE3
        - NE4
        - NE5
        - NE6
        - NE7
        - NE8
        - NE9
        - NE10
        - NE11
        - NE12
        - NE13
        - NE14
        - NE15
        - NE16
        - NE17
        - CC1
        - CC2
        - CC3
        - CC4
        - CC5
        - CC6
        - CC7
        - CC8
        - CC9
        - CC10
        - CC11
        - CC12
        - CC13
        - CC14
        - CC15
        - CC16
        - CC17
        - CC18
        - CC19
        - CC20
        - CC21
        - CC22
        - CC23
        - CC24
        - CC25
        - CC26
        - CC27
        - CC28
        - CC29
        - CC30
        - CC31
        - CC32
        - CC33
        - CC34
        - CE1
        - CE2
        - DT1
        - DT2
        - DT3
        - DT4
        - DT5
        - DT6
        - DT7
        - DT8
        - DT9
        - DT10
        - DT11
        - DT12
        - DT13
        - DT14
        - DT15
        - DT16
        - DT17
        - DT18
        - DT19
        - DT20
        - DT21
        - DT22
        - DT23
        - DT24
        - DT25
        - DT26
        - DT27
        - DT28
        - DT29
        - DT30
        - DT31
        - DT32
        - DT33
        - DT34
        - DT35
        - DT36
        - DT37
        - DE1
        - DE2
        - TE1
        - TE2
        - TE3
        - TE4
        - TE5
        - TE6
        - TE7
        - TE8
        - TE9
        - TE10
        - TE11
        - TE12
        - TE13
        - TE14
        - TE15
        - TE16
        - TE17
        - TE18
        - TE19
        - TE20
        - TE21
        - TE22
        - TE22A
        - TE23
        - TE24
        - TE25
        - TE26
        - TE27
        - TE28
        - TE29
        - TE30
        - TE31
        - TE32
        - BP1
        - BP2
        - BP3
        - BP4
        - BP5
        - BP6
        - BP7
        - BP8
        - BP9
        - BP10
        - BP11
        - BP12
        - BP13
        - BP14
        - STC
        - SE1
        - SE2
        - SE3
        - SE4
        - SE5
        - SW1
        - SW2
        - SW3
        - SW4
        - SW5
        - SW6
        - SW7
        - SW8
        - PTC
        - PE1
        - PE2
        - PE3
        - PE4
        - PE5
        - PE6
        - PE7
        - PW1
        - PW2
        - PW3
        - PW4
        - PW5
        - PW6
        - PW7
        # Future lines and extensions, announced with official codes by LTA.
        - CR1
        - CR2
        - CR3
        - CR4
        - CR5
        - CR6
        - CR7
        - CR8
        - CR9
        - CR10
        - CR11
        - CR12
        - CR13
        - CR14
        - CR15
        - CR16
        - CR17
        - CR18
        - CR19
        - CR20
        - CR21
        - CR22
        - CR23
        - CP1
        - CP2
        - CP3
        - CP4
        - JS1
        - JS2
        - JS2A
        - JS3
        - JS4
        - JS5
        - JS6
        - JS7
        - JS8
        - JS9
        - JS10
        - JS11
        - JS12
        - JW1
        - JW2
        - JW3
        - JW4
        - JW5
        - JE1
        - JE2
        - JE3
        - JE4
        - JE5
        - JE6
        - JE7

    BicycleParkingResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Bicycle parking locations within the queried radius.
          items:
            $ref: "#/components/schemas/BicycleParking"

    BicycleParking:
      type: object
      additionalProperties: false
      required:
        - Description
        - Latitude
        - Longitude
        - RackType
        - RackCount
        - ShelterIndicator
      properties:
        Description:
          type: string
          description: Description of the bicycle parking location.
          x-satay:
            identifier: desc

        Latitude:
          $ref: "#/components/schemas/Latitude"
          x-satay:
            identifier: lat

        Longitude:
          $ref: "#/components/schemas/Longitude"
          x-satay:
            identifier: long

        RackType:
          $ref: "#/components/schemas/RackType"

        RackCount:
          type: integer
          description: Number of racks at the location.
          x-satay:
            integer-type: u16

        ShelterIndicator:
          type: string
          description: Whether the location is sheltered from the weather.
          x-satay:
            identifier: shelter-indicator
            parse-as: bool
            true-values: ["Y"]
            false-values: ["N", ""]
            unknown-as: false

    RackType:
      description: Type of bicycle parking racks.
      anyOf:
        - type: string
        - type: string
          description: Known rack type spellings.
          enum:
            - Yellow Box
            - Yellow Box_Private
            - Racks_MRT
            - Racks_Bus Stop
            - Racks_URA
            - Racks_AVA
            - Racks_ITE
            - Racks_JTC
            - Racks_PA
            - Racks_NParks
            - Racks_HDB
            - Racks_NLB
            - Racks_NEA
          x-satay:
            enum-variants:
              "Yellow Box": YellowBox
              "Yellow Box_Private": YellowBoxPrivate
              "Racks_MRT": RacksMRT
              "Racks_Bus Stop": RacksBusStop
              "Racks_URA": RacksURA
              "Racks_AVA": RacksAVA
              "Racks_ITE": RacksITE
              "Racks_JTC": RacksJTC
              "Racks_PA": RacksPA
              "Racks_NParks": RacksNParks
              "Racks_HDB": RacksHDB
              "Racks_NLB": RacksNLB
              "Racks_NEA": RacksNEA

    FloodAlertsResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Flood alerts in this response.
          items:
            $ref: "#/components/schemas/FloodAlert"

    FloodAlert:
      type: object
      additionalProperties: false
      required:
        - alertId
        - dateTime
        - msgType
        - event
        - responseType
        - urgency
        - severity
        - expires
        - senderName
        - headline
        - description
        - instruction
        - areaDesc
        - circle
        - status
      properties:
        alertId:
          type: string
          description: A number or string uniquely identifying this observation, assigned by the sender.
          example: "2.49.0.0.702.2-BCM-17612003774680-PUBCON-DYOONG"
        dateTime:
          type: string
          description: Date and Time the flood observation was issued by PUB.
          example: "2025-05-22T09:55:00+08:00"
          x-satay:
            parse-as: offset-datetime
        msgType:
          $ref: "#/components/schemas/FloodMsgType"
          x-satay:
            identifier: msg-type
        event:
          $ref: "#/components/schemas/FloodEvent"
        responseType:
          $ref: "#/components/schemas/FloodResponseType"
          x-satay:
            identifier: response-type
        urgency:
          $ref: "#/components/schemas/FloodUrgency"
        severity:
          $ref: "#/components/schemas/FloodSeverity"
        expires:
          type: string
          description: Expiry time of the flood alert. A flood alert automatically expires after 24 hours by default.
          example: "2025-10-24T14:19:37+08:00"
          x-satay:
            parse-as: offset-datetime
        senderName:
          $ref: "#/components/schemas/FloodSenderName"
          x-satay:
            identifier: sender-name
        headline:
          type: string
          description: Text headline of the alert message.
          example: "Flash Flood Alert"
        description:
          type: string
          description: Location of Flood. Text describing the subject event of the alert message.
          example: "Flash flood at Bt Timah Rd from Wilby Rd to Blackmore Dr. Please avoid the area. Issued 1705 hrs."
          x-satay:
            identifier: desc
        instruction:
          type: string
          description: Text describing the recommended action to be taken by recipients of the alert message.
          example: "Please avoid this area for the next one (1) hour."
        areaDesc:
          type: string
          description: Area description.
          example: "Jalan Mastuli, Singapore"
        circle:
          type: string
          description: lat/long and radius in kilometers. The radius refers to the broadcasting radius of the specific alert, it is NOT indicative of the extent of the flooding.
          example: "1.35479,103.88611 0.05"
        status:
          $ref: "#/components/schemas/FloodStatus"

    FloodMsgType:
      description: Code denoting the nature of the alert message.
      type: string
      enum:
        - Alert
        - Cancel

    FloodEvent:
      description: Text denoting the type of the subject event of the alert message. Event will always be 'Flood'.
      type: string
      enum:
        - Flood

    # since we dk the actual possible values we are using anyOf first
    FloodResponseType:
      description: Alert response type. Code denoting the type of action recommended for the target audience.
      anyOf:
        - type: string
        - type: string
          enum:
            - Avoid
          x-satay:
            enum-variants:
              Avoid: Avoid

    # since we dk the actual possible values we are using anyOf first
    FloodUrgency:
      description: Code denoting the urgency of the subject event of the alert message.
      anyOf:
        - type: string
        - type: string
          enum:
            - Immediate
            - Expected
            - Future
            - Past
            - Unknown
          x-satay:
            enum-variants:
              Immediate: Immediate
              Expected: Expected
              Future: Future
              Past: Past
              Unknown: Unknown

    FloodSeverity:
      description: Code denoting the severity of the subject event of the alert message.
      type: string
      enum:
        - Extreme
        - Severe
        - Moderate
        - Minor

    FloodSenderName:
      description: Text naming the originator of the alert message. senderName will always be 'PUB'.
      type: string
      enum:
        - PUB
      x-satay:
        enum-variants:
          PUB: Pub

    FloodStatus:
      description: Code denoting the appropriate handling of the alert message.
      type: string
      enum:
        - Actual
        - Exercise
        - System
        - Test
        - Draft

    EvChargingPointsBatchResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: EV charging points batch data files in this response.
          items:
            $ref: "#/components/schemas/EvChargingPointsBatchLink"

    EvChargingPointsBatchLink:
      type: object
      additionalProperties: false
      required:
        - Link
      properties:
        Link:
          type: string
          format: uri
          description: URL of the EV charging points batch data file. Each pre-signed link expires after 15 minutes.

    PostalCode:
      type: string
      description: >
        6-digit Singapore postal code. The DataMall API rejects any other
        shape with 400 "Invalid parameter for postal code".
      pattern: "^[0-9]{6}$"
      example: "650346"

    EvLocationId:
      type: string
      description: >
        Location identifier made up from the first 6 decimal places of
        longitude followed by the 6-digit postal code.
      pattern: "^[0-9]{12}$"
      example: "750010650346"

    EvConnectorId:
      type: string
      description: >
        Connector ID assigned by LTA during charger registration. The EV
        charger registration code makes up the first 8 characters.
      pattern: "^[A-Z][0-9]+[A-Z]-[0-9]{3}$"
      example: "R109701B-001"

    EvChargingPointsResponse:
      type: object
      additionalProperties: false
      required:
        - value
      properties:
        value:
          $ref: "#/components/schemas/EvChargingPointsValue"

    EvChargingPointsValue:
      type: object
      additionalProperties: false
      required:
        - evLocationsData
      properties:
        evLocationsData:
          type: array
          description: EV charging locations for the queried postal code. Empty when no chargers exist for the postal code.
          items:
            $ref: "#/components/schemas/EvLocation"

    EvLocation:
      type: object
      additionalProperties: false
      required:
        - address
        - name
        - longitude
        - latitude
        - locationId
        - status
        - chargingPoints
      properties:
        address:
          type: string
          description: Address of the charging station.

        name:
          type: string
          description: Name of the charging station.

        longitude:
          $ref: "#/components/schemas/Longitude"
          x-satay:
            identifier: long

        latitude:
          $ref: "#/components/schemas/Latitude"
          x-satay:
            identifier: lat

        locationId:
          $ref: "#/components/schemas/EvLocationId"

        status:
          type: string
          description: Status of the charging station. Always empty in observed live responses.

        chargingPoints:
          type: array
          description: Charging points at this location.
          items:
            $ref: "#/components/schemas/EvChargingPoint"

    EvChargingPoint:
      type: object
      additionalProperties: false
      required:
        - status
        - operatingHours
        - operator
        - position
        - name
        - id
        - plugTypes
      properties:
        status:
          $ref: "#/components/schemas/EvChargingPointStatus"

        operatingHours:
          type: string
          description: Operation hours of the charger. Always empty in observed live responses.

        operator:
          type: string
          description: Charging operator of the charger.

        position:
          type: string
          description: Position of the charger.

        name:
          type: string
          description: Name of the charger.

        id:
          type: string
          description: ID of the charger. Always empty in observed live responses.

        plugTypes:
          type: array
          description: Plug types available on this charger.
          items:
            $ref: "#/components/schemas/EvPlugType"

    EvChargingPointStatus:
      description: >
        Current status of the charger. "0" occupied, "1" available,
        "100" not available.
      type: string
      enum:
        - "0"
        - "1"
        - "100"
      x-satay:
        enum-variants:
          "0": Occupied
          "1": Available
          "100": NotAvailable

    EvPlugType:
      type: object
      additionalProperties: false
      required:
        - plugType
        - powerRating
        - chargingSpeed
        - price
        - priceType
        - evIds
      properties:
        plugType:
          $ref: "#/components/schemas/EvPlugTypeKind"

        powerRating:
          $ref: "#/components/schemas/EvPowerRating"

        chargingSpeed:
          type: string
          description: Charging speed in kW as a numeric string.
          example: "7.4"
          x-satay:
            parse-as: f64

        price:
          type: string
          description: Charging price including VAT as a numeric string. Empty when the price is unavailable.
          example: "0.6490"
          x-satay:
            parse-as: f64
            none-if: [""]

        priceType:
          $ref: "#/components/schemas/EvPriceType"

        evIds:
          type: array
          description: Connectors for this plug type.
          items:
            $ref: "#/components/schemas/EvConnector"

    EvPlugTypeKind:
      description: Type of charging plug.
      anyOf:
        - type: string
        - type: string
          description: Known plug type spellings.
          enum:
            - Type 2
            - Combo 2
            - CHAdeMO
          x-satay:
            enum-variants:
              "Type 2": Type2
              "Combo 2": Combo2
              "CHAdeMO": Chademo

    EvPowerRating:
      description: Power rating of the charging point.
      anyOf:
        - type: string
        - type: string
          description: Known power rating spellings.
          enum:
            - AC
            - DC
          x-satay:
            enum-variants:
              AC: Ac
              DC: Dc

    EvPriceType:
      description: >
        Price type of the charging price. The guide documents "$/h" and
        "$/kWh"; live responses use "kWh", "free", and empty for unavailable.
      anyOf:
        - type: string
        - type: string
          description: Known price type spellings.
          enum:
            - kWh
            - free
            - ""
          x-satay:
            enum-variants:
              kWh: Kwh
              free: Free
              "": Unspecified

    EvConnector:
      type: object
      additionalProperties: false
      required:
        - id
        - evCpId
        - status
      properties:
        id:
          type: string
          description: Refer to evCpId. Always empty in observed live responses.

        evCpId:
          $ref: "#/components/schemas/EvConnectorId"

        status:
          $ref: "#/components/schemas/EvConnectorStatus"

    EvConnectorStatus:
      description: >
        Current status of the connector. "0" occupied, "1" available,
        empty string when unavailable or unknown.
      type: string
      enum:
        - "0"
        - "1"
        - ""
      x-satay:
        enum-variants:
          "0": Occupied
          "1": Available
          "": Unspecified

    GtfsScheduleTrainResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: GTFS Schedule Train data files in this response.
          items:
            $ref: "#/components/schemas/GtfsScheduleTrainLink"

    GtfsScheduleTrainLink:
      type: object
      additionalProperties: false
      required:
        - timestamp
        - link
      properties:
        timestamp:
          type: string
          description: Time at which the link was generated.
          x-satay:
            ignore: true

        link:
          type: string
          format: uri
          description: URL of the GTFS Schedule Train ZIP file. Each pre-signed link expires after 15 minutes.

    GtfsRealTimeTrainServiceAlertsResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: GTFS Realtime Train Service Alerts data files in this response.
          items:
            $ref: "#/components/schemas/GtfsRealTimeTrainServiceAlertsLink"

    GtfsRealTimeTrainServiceAlertsLink:
      type: object
      additionalProperties: false
      required:
        - timestamp
        - link
      properties:
        timestamp:
          type: string
          description: Time at which the link was generated.
          x-satay:
            ignore: true

        link:
          type: string
          format: uri
          description: URL of the GTFS Realtime Train Service Alerts protobuf file. Each pre-signed link expires after 15 minutes.

    GtfsRealtimeTrainTripUpdatesResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: GTFS Realtime Train Trip Updates data files in this response.
          items:
            $ref: "#/components/schemas/GtfsRealtimeTrainTripUpdatesLink"

    GtfsRealtimeTrainTripUpdatesLink:
      type: object
      additionalProperties: false
      required:
        - timestamp
        - link
      properties:
        timestamp:
          type: string
          description: Time at which the link was generated.
          x-satay:
            ignore: true

        link:
          type: string
          format: uri
          description: URL of the GTFS Realtime Train Trip Updates protobuf file. Each pre-signed link expires after 15 minutes.
