openapi: 3.1.0

info:
  title: LTA DataMall API
  version: "3.0"
  description: OpenAPI schema for the generated lta-next client.

tags:
  - name: bus
    description: Bus related operations.

  - name: traffic
    description: Traffic related operations.

  - name: taxi
    description: Taxi related operations.

servers:
  - url: https://datamall2.mytransport.sg/ltaodataservice

paths:
  /v3/BusArrival:
    get:
      operationId: getBusArrival
      tags: [bus]
      summary: Get bus arrival timings for a bus stop
      description: >
        Returns real-time Bus Arrival information of Bus Services at a queried Bus Stop,
        including

        - Estimated Arrival Time

        - Estimated Current Location

        - Estimated Current Load.        


        **Update freq**: 20s
      security:
        - accountKeyAuth: []
      parameters:
        - name: BusStopCode
          in: query
          required: true
          description: Bus stop reference code.
          schema:
            $ref: "#/components/schemas/BusStopCode"
          example: "83139"

        - name: ServiceNo
          in: query
          required: false
          description: Optional bus service number filter.
          schema:
            $ref: "#/components/schemas/BusServiceNumber"
          example: "15"

      responses:
        "200":
          description: Successful Bus Arrival response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusArrivalResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/v3/BusArrival"
                BusStopCode: "83139"
                Services:
                  - ServiceNo: "15"
                    Operator: "GAS"
                    NextBus:
                      OriginCode: "77009"
                      DestinationCode: "77009"
                      EstimatedArrival: "2024-08-14T16:41:48+08:00"
                      Latitude: "1.3154918333333334"
                      Longitude: "103.9059125"
                      VisitNumber: "1"
                      Load: "SEA"
                      Feature: "WAB"
                      Type: "SD"
                      Monitored: "1"
                    NextBus2:
                      OriginCode: "77009"
                      DestinationCode: "77009"
                      EstimatedArrival: "2024-08-14T16:49:22+08:00"
                      Latitude: "1.3309621666666667"
                      Longitude: "103.9034135"
                      VisitNumber: "1"
                      Load: "SEA"
                      Feature: "WAB"
                      Type: "SD"
                      Monitored: "1"
                    NextBus3:
                      OriginCode: "77009"
                      DestinationCode: "77009"
                      EstimatedArrival: "2024-08-14T17:06:11+08:00"
                      Latitude: "1.344761"
                      Longitude: "103.94022316666667"
                      VisitNumber: "1"
                      Load: "SEA"
                      Feature: "WAB"
                      Type: "SD"
                      Monitored: "1"

  /TrafficIncidents:
    get:
      operationId: getTrafficIncidents
      tags: [traffic]
      summary: Get traffic incidents
      description: >
        Returns incidents currently happening on the roads, such as
        Accidents, Vehicle Breakdowns, Road Blocks, Traffic Diversions etc.

        **Update freq**: 2 min
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful Traffic Incidents response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrafficIncidentsResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/$metadata#IncidentSet"
                value:
                  - Type: "Roadwork"
                    Latitude: 1.3271784303381247
                    Longitude: 103.73571311990426
                    Message: "Roadworks on AYE (towards Tuas) after Penjuru Rd Exit. Avoid lane 3."

  /Traffic-Imagesv2:
    get:
      operationId: getTrafficImages
      tags: [traffic]
      summary: Get traffic camera images
      description: >
        Returns links to images from traffic cameras located around Singapore,
        together with each camera's location coordinates.

        **Update freq**: 20 sec
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful Traffic Images response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrafficImagesResponse"
              example:
                odata.metadata: "http://datamall2.mytransport.sg/ltaodataservice/$metadata#Traffic-Imagesv2"
                value:
                  - CameraID: "1001"
                    Latitude: 1.29531332
                    Longitude: 103.871146
                    ImageLink: "https://dm-traffic-camera-itsc.s3.ap-southeast-1.amazonaws.com/2023-04-05/23-05/1001_2303_20230405230505_485310.jpg"

  /v3/TrafficSpeedBands:
    get:
      operationId: getTrafficSpeedBands
      tags: [traffic]
      summary: Get traffic speed bands
      description: >
        Returns current traffic speeds on expressways and arterial roads,
        expressed in speed bands.

        **Update freq**: 5 min
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful Traffic Speed Bands response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrafficSpeedBandsResponse"
              example:
                odata.metadata: "http://datamall2.mytransport.sg/ltaodataservice/$metadata#TrafficSpeedBands"
                lastUpdatedTime: "2023-04-05 22:30:00"
                value:
                  - LinkID: "103000000"
                    RoadName: "KENT ROAD"
                    RoadCategory: "E"
                    SpeedBand: 7
                    MinimumSpeed: "60"
                    MaximumSpeed: "69"
                    StartLon: "103.85298052044503"
                    StartLat: "1.3170142376560023"
                    EndLon: "103.85259882242372"
                    EndLat: "1.3166840028663076"

  /BusStops:
    get:
      operationId: getBusStops
      tags: [bus]
      summary: Get bus stops
      description: >
        Returns detailed information for all bus stops currently being serviced by
        buses, including bus stop codes and location coordinates.


        **Update freq**: Ad-Hoc
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful Bus Stops response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusStopsResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/$metadata#BusStops"
                value:
                  - BusStopCode: "01012"
                    RoadName: "Victoria St"
                    Description: "Hotel Grand Pacific"
                    Latitude: 1.29684825487647
                    Longitude: 103.85253591654006

  /Taxi-Availability:
    get:
      operationId: getTaxiAvailability
      tags: [taxi]
      summary: Get taxi availability
      description: >
        Returns the coordinates of all taxis currently available for hire.


        **Update freq**: 1 min
      x-satay:
        output:
          unwrap-field: value
      security:
        - accountKeyAuth: []
      parameters:
        - name: $skip
          in: query
          required: false
          description: Number of records to skip for pagination.
          schema:
            type: integer
            format: uint32
            minimum: 0
          example: 500
      responses:
        "200":
          description: Successful Taxi Availability response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaxiAvailabilityResponse"
              example:
                odata.metadata: "https://datamall2.mytransport.sg/ltaodataservice/$metadata#TaxiAvailability"
                value:
                  - Longitude: 103.89071
                    Latitude: 1.39588
                  - Longitude: 103.94399
                    Latitude: 1.32122

components:
  securitySchemes:
    accountKeyAuth:
      type: apiKey
      in: header
      name: AccountKey
      description: LTA DataMall API account key.

  schemas:
    BusArrivalResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - BusStopCode
        - Services
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        BusStopCode:
          $ref: "#/components/schemas/BusStopCode"

        Services:
          type: array
          description: Bus services serving the queried bus stop.
          items:
            $ref: "#/components/schemas/BusServiceArrival"

    BusServiceArrival:
      type: object
      additionalProperties: false
      required:
        - ServiceNo
        - Operator
        - NextBus
        - NextBus2
        - NextBus3
      properties:
        ServiceNo:
          $ref: "#/components/schemas/BusServiceNumber"

        Operator:
          $ref: "#/components/schemas/BusOperator"

        NextBus:
          $ref: "#/components/schemas/BusArrivalTiming"
          x-satay:
            treat-error-as-none: true

        NextBus2:
          $ref: "#/components/schemas/BusArrivalTiming"
          x-satay:
            treat-error-as-none: true

        NextBus3:
          $ref: "#/components/schemas/BusArrivalTiming"
          x-satay:
            treat-error-as-none: true

    BusOperator:
      type: string
      description: Public transport operator code.
      enum:
        - SBST
        - SMRT
        - TTS
        - GAS
      example: "SBST"

    BusServiceNumber:
      type: string
      description: Bus service number.
      maxLength: 5
      pattern: "^[a-zA-Z0-9]+$"
      example: "15"

    BusStopCode:
      type: string
      description: Unique 5-digit bus stop reference code.
      pattern: '^\d{5}$'
      example: "83139"
      x-satay:
        parse-as: u32

    BusArrivalTiming:
      type: object
      additionalProperties: false
      required:
        - OriginCode
        - DestinationCode
        - EstimatedArrival
        - Latitude
        - Longitude
        - VisitNumber
        - Load
        - Feature
        - Type
        - Monitored
      properties:
        OriginCode:
          $ref: "#/components/schemas/BusStopCode"

        DestinationCode:
          $ref: "#/components/schemas/BusStopCode"

        EstimatedArrival:
          type: string
          description: Estimated arrival date-time in Singapore Standard Time.
          example: "2024-08-14T16:41:48+08:00"
          x-satay:
            parse-as: offset-datetime

        Latitude:
          type: string
          description: Current estimated latitude of the bus.
          example: "1.3154918333333334"
          x-satay:
            parse-as: f64

        Longitude:
          type: string
          description: Current estimated longitude of the bus.
          example: "103.9059125"
          x-satay:
            parse-as: f64

        VisitNumber:
          type: string
          description: Ordinal visit number of this vehicle at the bus stop.
          example: "1"
          x-satay:
            parse-as: u8

        Load:
          type: string
          description: Current occupancy level.
          enum:
            - SEA
            - SDA
            - LSD
            - ""
          x-satay:
            enum-variants:
              SEA: SeatsAvailable
              SDA: StandingAvailable
              LSD: LimitedStanding
              "": Unspecified

        Feature:
          type: string
          description: Wheelchair accessibility indicator.
          enum:
            - WAB
            - ""
          x-satay:
            enum-variants:
              WAB: WheelchairAccessible
              "": Unspecified

        Type:
          type: string
          description: Vehicle type of the bus.
          enum:
            - SD
            - DD
            - BD
            - ""
          x-satay:
            enum-variants:
              SD: SingleDecker
              DD: DoubleDecker
              BD: Bendy
              "": Unspecified

        Monitored:
          type: integer
          description: Whether the bus is currently monitored by the system.
          enum:
            - 1
            - 0
          x-satay:
            parse-as: bool

    BusStopsResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Bus stops in this response page.
          items:
            $ref: "#/components/schemas/BusStop"

    BusStop:
      type: object
      additionalProperties: false
      required:
        - BusStopCode
        - RoadName
        - Description
        - Latitude
        - Longitude
      properties:
        BusStopCode:
          $ref: "#/components/schemas/BusStopCode"

        RoadName:
          type: string
          description: Road on which the bus stop is located.

        Description:
          type: string
          description: Bus stop landmark or location description.
          x-satay:
            identifier: desc

        Latitude:
          type: number
          format: double
          description: Latitude of the bus stop.
          x-satay:
            identifier: lat

        Longitude:
          type: number
          format: double
          description: Longitude of the bus stop.
          x-satay:
            identifier: long

    TrafficImagesResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Traffic camera images in this response page.
          items:
            $ref: "#/components/schemas/TrafficImage"

    TrafficImage:
      type: object
      additionalProperties: false
      required:
        - CameraID
        - Latitude
        - Longitude
        - ImageLink
      properties:
        CameraID:
          type: string
          description: Numeric identifier of the traffic camera.
          example: "1001"
          x-satay:
            parse-as: u32

        Latitude:
          type: number
          format: double
          description: Latitude of the traffic camera.
          x-satay:
            identifier: lat

        Longitude:
          type: number
          format: double
          description: Longitude of the traffic camera.
          x-satay:
            identifier: long

        ImageLink:
          type: string
          format: uri
          description: URL of the latest image from the traffic camera.
          x-satay:
            identifier: image-link

    TrafficSpeedBandsResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - lastUpdatedTime
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        lastUpdatedTime:
          type: string
          description: Time at which the speed-band data was last updated.
          x-satay:
            ignore: true

        value:
          type: array
          description: Traffic speed bands in this response page.
          items:
            $ref: "#/components/schemas/TrafficSpeedBand"

    TrafficSpeedBand:
      type: object
      additionalProperties: false
      required:
        - LinkID
        - RoadName
        - RoadCategory
        - SpeedBand
        - MinimumSpeed
        - MaximumSpeed
        - StartLon
        - StartLat
        - EndLon
        - EndLat
      properties:
        LinkID:
          type: string
          description: Numeric identifier of the road link.
          x-satay:
            parse-as: u64

        RoadName:
          type: string
          description: Name of the road.

        RoadCategory:
          $ref: "#/components/schemas/RoadCategory"

        SpeedBand:
          type: integer
          format: uint32
          description: Speed-band number assigned to the road link.

        MinimumSpeed:
          type: string
          description: Lower speed bound in kilometres per hour.
          x-satay:
            identifier: min-speed
            parse-as: u32

        MaximumSpeed:
          type: string
          description: Upper speed bound in kilometres per hour.
          x-satay:
            identifier: max-speed
            parse-as: u32

        StartLon:
          type: string
          description: Longitude of the road link's start point.
          x-satay:
            parse-as: f64

        StartLat:
          type: string
          description: Latitude of the road link's start point.
          x-satay:
            parse-as: f64

        EndLon:
          type: string
          description: Longitude of the road link's end point.
          x-satay:
            parse-as: f64

        EndLat:
          type: string
          description: Latitude of the road link's end point.
          x-satay:
            parse-as: f64

    RoadCategory:
      description: Classification of the road carrying the traffic-speed reading.
      anyOf:
        - type: string
        - type: string
          enum:
            - A
            - B
            - C
            - D
            - E
            - F
            - G
          x-satay:
            enum-variants:
              A: Expressway
              B: MajorArterialRoads
              C: ArterialRoads
              D: MinorArterialRoads
              E: SmallRoads
              F: SlipRoads
              G: NoCategoryInfoAvail

    TrafficIncidentsResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Traffic incidents in this response page.
          items:
            $ref: "#/components/schemas/TrafficIncident"

    TrafficIncident:
      type: object
      additionalProperties: false
      required:
        - Type
        - Latitude
        - Longitude
        - Message
      properties:
        Type:
          $ref: "#/components/schemas/IncidentType"
          x-satay:
            identifier: incident-type

        Latitude:
          type: number
          format: double
          description: Latitude of the traffic incident.
          x-satay:
            identifier: lat

        Longitude:
          type: number
          format: double
          description: Longitude of the traffic incident.
          x-satay:
            identifier: long

        Message:
          type: string
          description: Human-readable description of the traffic incident.
          x-satay:
            identifier: msg

    IncidentType:
      description: Type of traffic incident.
      anyOf:
        - type: string
        - type: string
          description: Known incident type spellings.
          enum:
            - Accident
            - Road Works
            - Vehicle breakdown
            - Weather
            - Obstacle
            - Road Block
            - Heavy Traffic
            - Misc.
            - Diversion
            - Unattended Vehicle
            - Roadwork
          x-satay:
            enum-variants:
              "Road Works": RoadWorks
              "Vehicle breakdown": VehicleBreakdown
              "Road Block": RoadBlock
              "Heavy Traffic": HeavyTraffic
              "Misc.": Misc
              "Unattended Vehicle": UnattendedVehicle

    TaxiAvailabilityResponse:
      type: object
      additionalProperties: false
      required:
        - odata.metadata
        - value
      properties:
        odata.metadata:
          type: string
          format: uri
          description: OData metadata URL.
          x-satay:
            ignore: true

        value:
          type: array
          description: Coordinates of available taxis in this response page.
          items:
            $ref: "#/components/schemas/Coordinates"

    Coordinates:
      type: object
      additionalProperties: false
      required:
        - Latitude
        - Longitude
      properties:
        Latitude:
          type: number
          format: double
          description: Latitude of the taxi.
          x-satay:
            identifier: lat

        Longitude:
          type: number
          format: double
          description: Longitude of the taxi.
          x-satay:
            identifier: long
